<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	<context-param>
		<description>
            "Development" enables better error messages, including in the client side JavaScript, at the cost of performance.
            "Production" turn off some error messages and emphasize performance.
            https://blogs.oracle.com/rlubke/entry/jsf_2_0_new_feature2
        </description>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<init-param>
			<param-name>protocoll</param-name>
			<param-value>https</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>

	<!-- security roles used by this web application -->
	<!--security-role> <role-name>FOO</role-name> </security-role -->

	<!--security-constraint> <web-resource-collection> <web-resource-name>Https 
		entire WebApp</web-resource-name> <url-pattern>/*</url-pattern> </web-resource-collection> 
		< No Auth Contraint! > <user-data-constraint> <transport-guarantee>CONFIDENTIAL</transport-guarantee> 
		</user-data-constraint> </security-constraint -->

	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>

	<error-page>
		<!--exception-type>java.lang.Exception</exception-type -->
		<error-code>500</error-code>
		<location>/WEB-INF/error.xhtml</location>
	</error-page>

</web-app>
